<a href="https://colab.research.google.com/github/RudinP/SOLUX_Summer_data_study/blob/master/1%EC%A3%BC%EC%B0%A8/%EC%B1%95%ED%84%B04(0725).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
friends = [{'name':'John','age':20,'job':'student'},
                {'name':'Jenny','age':30,'job':None},
                {'name':'Nate','age':30,'job':'teacher'}
          ]
df= pd.DataFrame(friends)
df=df[['name','age','job']]#데이터프레임 생성, 칼럼의 헤더는 name age job 순으로 표시

In [ ]:
df.head()

    name  age      job
0   John   20  student
1  Jenny   30     None
2   Nate   30  teacher

In [ ]:
df.to_csv('friends.csv', index= False,header=True, na_rep='-')#csv 파일로 df를 변환한다. index가 False면 앞의 0,1,2숫자가 생략되며, header가 False일시 header가 표시되지 않는다.(기본값은 둘 다 True),na_rep='(넣을문자)'는 None값을 어떻게 표시할지 정하는 것인데, 여기서는 -로 표시하였다.