<a href="https://colab.research.google.com/github/RudinP/SOLUX_Summer_data_study/blob/master/3%EC%A3%BC%EC%B0%A8/5)%EC%84%A4%EB%AC%B8%EC%A1%B0%EC%82%AC_%EC%9D%91%EB%8B%B5_%EB%B6%84%EC%84%9D1(0810).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#캐글에는 데이터셋이있는데, 이를 가져와서 데이터 분석을 하는 모양이다.

In [5]:
#노트북 안에서 그래프를 그리기 위해서
%matplotlib inline
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

from google.colab import files
uploaded = files.upload()#코랩에서 csv 파일을 사용하기 위함, 따로 찾아보았다.jupyter에서 하였다면 data 파일에 올리면 됐을 듯

Saving schema.csv to schema.csv

In [6]:
question= pd.read_csv('schema.csv')
question.shape

(290, 3)

In [8]:
question.head()#.tail()로 하면 마지막부분

             Column                                           Question Asked
0      GenderSelect     Select your gender identity. - Selected Choice   All
1    GenderFreeForm  Select your gender identity. - A different ide...   All
2           Country          Select the country you currently live in.   All
3               Age                                   What's your age?   All
4  EmploymentStatus             What's your current employment status?   All

In [ ]:
#판다스로 선다형 객관식 문제에 대한 응답을 가져옴..인데 multipleChoiceResponses.csv의 크기가 너무 크고 아름다워서, 이 뒤로는 강좌를 읽고 따라적고 주석만 적겠음.
uploaded2 = files.upload()

In [ ]:
mcq=pd.read_csv('multipleChoiceResponses.csv',encoding="ISO-8859-1",low_memory=False)
mcq.shape

In [ ]:
mcq.columns#해당 데이터의 인덱스들을 알려준다.

In [ ]:
mcq.tail()#끝부분 5가지를 보여줌,10이란 숫자를 넣으면 10가지 보여줌

In [ ]:
#missingno는 NaN데이터들에 대해 시각화를 해준다.
#NaN 데이터의 컬럼이많아 아래 그래프만으로는 내용을 파악하기 어렵다.
import missingno as msno
msno.matrix(mcq, figsize=(12,5))

In [ ]:
#성별
sns.countplot(y='GenderSelect', data=mcq)#시각화

In [ ]:
#국가별 응답수
con_df=pd.DataFrame(mcq['Country'].value_counts())
#print(con_df)
#'country'컬럼을 인덱스로 지정해주고
con_df['국가']=con_df.index
#컬럼의 순서대로 응답 수, 국가로 컬럼명을 지정해 줌
con_df.columns=['응답 수','국가']
#index 컬럼을 삭제하고 순위를 알기위해 reset_index()를 해준다.
#우리 나라는 18위고 전체 52개국에서 참여했지만 20위까지만 본다.
con_df=con_df.reset_index().drop('index',axis=1)#axis=1은 열을 본다는 것
con_df.head(20)

In [ ]:
#연령에 대한 정보를 본다.
mcq['Age'].describe()#Age에 대한 개수, 평균, 최대최소값 등을 앙려줌

In [ ]:
sns.distplot(mcq[mcq['Age']>0]['Age'])#seaborn을 이용해서 그래프를 그림

In [ ]:
#학력
sns.countplot(y='FormalEducation',data=mcq)#~plot이라 하면 거진 다 시각화더라

In [ ]:
#value_counts를 사용하면 그룹화 된 데이터의 카운트 값을 보여준다.
#normalize=True옵션을 사용하면
#해당 데이터가 전체 데이터에서 어느정도의 비율을 차지하는지 알 수 있다.
mcq_major_count=pd.DataFrame(
    mcq['MajorSelect'].value_counts())
mcq_major_percent=pd.DataFrame(
    mcq['MajorSelect'].value_counts(normalize=True)
)
mcq_major_df=mcq_major_count.merge(
    mcq_major_percent,left_index=True,right_index=True
)
mcq_major_df.columns=['응답 수','비율']
mcq_major_df

In [ ]:
#재학 중인 사람들의 전공 현황
plt.figure(figsize=(6,8))
sns.countplot(y='MajorSelect', data=mcq)

In [ ]:
#취업여부
mcq_es_count=pd.DataFrame(
    mcq['EmployStatus'].value_counts())
mcq_es_percent=pd.DataFrame(
    mcq['EmployStatus'].value_counts(normalize=True)
)
mcq_es_df=mcq_es_count.merge(
    mcq_es_percent,left_index=True,right_index=True
)
mcq_es_df.columns=['응답 수','비율']
mcq_es_df

In [ ]:
sns.countplot(y='EmploymentStatuse',data=mcq)

In [ ]:
#프로그래밍 경험
sns.countplot(y='Tenure',data=mcq)

In [ ]:
korea=mcq.loc[(mcq['Country']=='South Korea')]
print('The number of interviewees in Korea:'+str(korea.shape[0]))

sns.distplot(korea['Age'].dropna())#dropna를 통해 NA 데이터 제거
plt.title('Korean')
plt.show()

In [ ]:
pd.DataFrame(korea['GenderSelect'].value_counts())

In [ ]:
sns.countplot(x='GenderSelect',data=korea)
plt.title('Korean')

In [ ]:
figure,(ax1,ax2)=plt.subplots(ncols=2)#ncols=2를 통해 두 개의 데이터시각화를 동시에 할 수 있음

figure.set_size_inches(12,5)
sns.distplot(korea['Age'].loc[koea['GenderSelect']=='Female'].dropna(),
             norm_hist=False,color=sns.color_palette("Paired")[4],ax=ax1)
plt.title('korean Female')
sns.distplot(korea['Age'].loc[koea['GenderSelect']=='Male'].dropna(),
             norm_hist=False,color=sns.color_palette("Paired")[0],ax=ax2)
plt.title('korean Male')

In [ ]:
sns.barplot(x=korea['EmploymentStatus'].unique(),y=korea['EmploymentStatus'].value_count)
plt.xticks(rotation=30,ha='right')#글자를 오른쪽으로 30도 돌려서 표시되게 함
plt.title('Employment status of the korean')
plt.ylabel(' ')
plt.show()

In [ ]:
korea['StudentStatus']=korea['StudentStatus'].fillna('No')
sns.countplot(x='StudentStatus',data=korea)
plt.title('korean')
plt.show()

In [ ]:
full_time=mcq.loc[(mcq['EmploymentStatus']=='Employed full-time')]
print(full_time.shape)
looking_for_job=mcq.loc[(
    mcq['EmploymentStatus']=='Not employed, but looking for work'
)]
print(looking_for_job.shape)

In [ ]:
#자주묻는질문으로 시각화
sns.countplot(y='LanguageRecommendationSelect',data=mcq)

이 강의 정말 불친절하고 스터디로 적합하지 않음.